<form action="/links" method="post">
  <label> Enter Link </label>
  <input type="text" name="new_link" />
  <label> Enter Title </label>
  <input type="text" name="title" />
  <input type="submit" value="Submit" />
</form>
