<h1> Enter New Links </h1>
<form action="/links" method="post">
  <label for="title">
    Title:
    <input type="text" name="title" >
  </label>
  <label for="url">
    Webpage Address:
    <input type="text" name="url" >
  </label>
  <input type="submit" value="Submit" >
</form>
